<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">
    <parameter name="browser" value="firefox" />
    <test name="Regression Test">
        <classes>
            <class name="tests.SignInTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.ContactUsTest"/>
            <class name="tests.ProceedCheckoutTest"/>
            <class name="tests.AddPhonesTest"/>
            <class name="tests.AddLaptopsToCart"/>
            <class name="tests.AddTowProductsTCart"/>

        </classes>
    </test>
</suite>